.DS_Store
emacs/early-init.el
emacs/variables.el
emacs/init-pablo.el
shell/.zshrc.local

## emacs
emacs/node_modules/
emacs/logs/

## aider
!.aider.conf.yml

## ai-marketplace-monitor
ai-marketplace-monitor/cache.db*
ai-marketplace-monitor.log*

## claude-code skills
claude/skills/*/node_modules
claude/skills/*/node_modules.nosync
!CLAUDE.md
