.DS_Store
emacs/early-init.el
emacs/variables.el
emacs/init-pablo.el
shell/.zshrc.local

## emacs
*.elc
emacs/node_modules/
emacs/logs/

## aider
!.aider.conf.yml

## ai-marketplace-monitor
ai-marketplace-monitor/cache.db*
ai-marketplace-monitor.log*

## secrets
**/.env
!**/.env.example
!**/.env.op

## claude-code
/.claude/*
!/.claude/skills/
/.claude/skills/*
!/.claude/skills/skill-creator/
!/.claude/skills/find-skills/
!/.claude/skills/systematic-debugging/
**/.claude/
!/.claude/
claude/skills/*/node_modules
!CLAUDE.md

## codex
codex/.codex/
