/* mkdir ~/.goldendict/styles/arc-dark/
then put this stylesheet there */
body {
  margin-top: 1px;
  margin-right: 3px;
  margin-left: 2px;
  margin-bottom: 3px;
  background: #4b5162;
  color: white;
  font-family: Noto Serif CJK SC, Noto Serif, Bookerly, Segoe UI,
    Palatino Linotype, Arial Unicode MS;
}

a:link {
  color: #5294e2;
}

ul {
  color: white;
}

.gdarticle {
  background: #4b5162;
  color: white;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
  padding: 5px;
  border: 1px solid white;
}

.gdactivearticle {
  border: none;
  border-bottom: 1px solid #5294e2;
  padding: 2ch;
}

.gdarticleseparator + script + .gdactivearticle .gddictname {
  border-top: 1px solid #5294e2;
}

.gdarticleseparator {
  display: none;
}

.gddictname {
  font-size: 14px;
  font-weight: normal;
  float: right;
  border: 0px;
  margin: -6px;
  margin-bottom: 5px;
  margin-left: 2px;
  padding-right: 0.4em;

  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.gdactivearticle .gddictname {
  font-size: 12px;
  font-weight: normal;
  margin: 0px;
  float: right;
  border: none;
}

.gddicticon {
  display: none;
}

.gdfromprefix {
  display: none;
}

.collapse_expand_area {
  width: 17px;
  height: 18px;
}

.collapse_expand_area > img {
  margin-left: 4px;
  /* display: none; */
  opacity: 0;
}

.collapse_expand_area::after {
  content: "  ";
  position: relative;
  left: -16px;
  pointer-events: none;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10.4px 6px 0 6px;
  border-color: #5294e2 transparent transparent transparent;
}

/**
 * Old Dictionaries using DSL format
 */
.gdarticlebody > span:first-child .dsl_headwords,
.gdarticlebody > h3:first-child {
  margin-top: -3px;
  display: inline-block;
}

.gdspellsuggestion {
  /* Add some vertical space before the article */
  margin-top: 1.5em;
}

.dsl_article,
.dsl_definition,
.dsl_ex,
.dsl_opt,
.dsl_lang,
.dsl_m0,
.dsl_m1,
.dsl_m2,
.dsl_m3,
.dsl_m4,
.dsl_u,
.dsl_b,
.dsl_i {
  color: white !important;
}

.dsl_p {
  color: #ff7400 !important;
}

.dsl_b font {
  color: #ffd300 !important;
}

.dsl_m2 font {
  color: #71ff35 !important;
}

.dsl_i font {
  color: white !important;
}

.dsl_article .dsl_definition {
  color: #ffea13 !important;
}

.dsl_article .dsl_definition font[color="darkcyan"] {
  color: #ffea13 !important;
}

.dsl_article .dsl_definition font[color="teal"] {
  color: #ffea13 !important;
}

.dsl_article .dsl_definition font[color="darkslategray"] {
  color: #e7003e !important;
}

.dsl_article .dsl_definition font[color="darkslateblue"] {
  color: #e7003e !important;
}

.dsl_article .dsl_definition font[color="darkmagenta"] {
  color: #e7003e !important;
}

.dsl_article .dsl_definition font[color="sienna"] {
  color: #e7003e !important;
}

.dsl_article .dsl_definition font[color="rosybrown"] {
  color: #e7003e !important;
}

.dsl_article .dsl_definition font[color="dimgray"] {
  color: white !important;
}

.dsl_article .dsl_definition font[color="green"] {
  color: #e7003e !important;
}

.dsl_article .dsl_definition font[color="darkgreen"] {
  color: #e7003e !important;
}

::selection {
  background: #5294e2;
  color: white;
}

code::selection {
  background: white;
}

.dsl_s_wav img,
.lsa_play img,
.forvo_play img[alt="Play"] {
  /**
  display: none;
  **/
}

.dsl_s_wav a,
.lsa_play td:nth-of-type(1) a,
.forvo_play td:nth-of-type(1) a {
  color: white;
  width: 18px;
  height: 14px;
  /**
  display: inline-block;
  background: url('file:///control_play_lingvo.png') no-repeat center;
  vertical-align: text-bottom;
  -webkit-user-select: none;
  user-select: none;
  **/
}

/**
 * OALD9 Dictionary
 */

.mdict,
.mdict ol,
.head-jump-pos,
.head-jump-entry,
.h-g,
sn-gs,
.sn-g,
.x-gs,
.xg,
.rx-g,
.x,
.num,
.def,
.label-g,
.collapse {
  color: white !important;
}

.head-jump-pos a {
  display: inline-block;
  background-color: green;
  color: white !important;
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
  margin-bottom: 3px;
  text-decoration: none;
  font-size: 90%;
  border-radius: 2px;
}

.mdict .if-gs {
  color: #e7003e !important;
}

.mdict .gram-g {
  color: #ff7400 !important;
}

.mdict .top-container {
  line-height: 1.2em !important;
}

.mdict .collapse,
.mdict .webtop-g {
  background-color: #03a9f4 !important;
  border-left: 3px solid #03a9f4 !important;
}

.mdict .collapse .body .h1,
.mdict .collapse .body .deflist .li .eb {
  color: #d32f2f !important;
}

.mdict .collapse .body .inline .li {
  color: #512da8 !important;
}

/** Fix numbered list **/
.mdict ol {
  list-style-type: none;
}

.mdict ol li {
  counter-increment: step-counter;
}

.mdict ol li::before {
  content: counter(step-counter);
  color: #e7003e !important;
  font-weight: bold;
}

/** Fix phonetics **/

.mdict .phon {
  color: #e7003e !important;
  font-weight: bold;
}

/**
 * Longman Dictionary 6
 */

.entry,
.example,
.collocate,
.collgloss,
.sense,
.neutral,
.exas li {
  color: white !important;
}

.hyphenation,
.homnum,
.frequent {
  color: #ffeb3b !important;
}

.pron,
.amevarpron {
  color: #d32f2f !important;
  font-weight: bold;
}

.gram,
.registerlab {
  color: #03a9f4 !important;
}

.propformprep,
.expr,
.colloc,
.collo,
.exp,
.display,
.nodeword {
  color: #ff4081 !important;
}

.sensenum {
  color: #e7003e !important;
}

.collobox {
  background-color: #448aff !important;
  border-color: #448aff !important;
}

.thesbox {
  background-color: #ffeb3b !important;
  border-color: #ffeb3b !important;
}

.grambox .expl,
.grambox .compareword,
.collobox .section,
.thesbox .section {
  background-color: #4b5162 !important;
}

.secheading {
  background-color: #1976d2 !important;
}

table,
#definition_T_id,
#mh_n_T_id,
#mh_T_id,
#C_C {
  color: white !important;
}

#C_C font {
  color: white !important;
}
