{
:profiles {
           :Default {:default true

:alone   200

:held    350

:delay   300

:sim   150

:simlayer-threshold 250}} ; default

:tos {
      ;; macOS
      :⇧ {:key :left_shift}
      :⌘ {:key :left_command}
      :⌥ {:key :left_option}
      :⌃ {:key :left_control}
      :🌐 {:key :fn}
      :⌘⌃ {:key :Cleft_control}

      ;; Emacs
      :S- {:key :left_shift} ; S
      :A- {:key :right_command} ; Q
      :C- {:key :left_control} ; T
      :H- {:key :left_command} ; C
      :M- {:key :left_option} ; O
      :s- {:key :right_control} ; W
      :A-C- {:key :!Qleft_control}
      :A-H- {:key :!Qleft_command}
      :A-M- {:key :!Qleft_option}
      :A-s- {:key :!Qright_control}

      ;; symbols
      :exclamation_mark {:key :!S1}
      :at_sign {:key :!S2}
      :number_sign {:key :!S3}
      :dollar_sign {:key :!S4}
      :percent_sign {:key :!S5}
      :caret {:key :!S6}
      :ampersand {:key :!S7}
      :asterisk {:key :!S8}
      :open_parenthesis {:key :!S9}
      :close_parenthesis {:key :!S0}
      :underscore {:key :!Shyphen}
      :plus_sign {:key :!Sequal_sign}
      :open_brace {:key :!Sopen_bracket}
      :close_brace {:key :!Sclose_bracket}
      :vertical_bar {:key :!Sbackslash}
      :double_quote {:key :!Squote}
      :open_double_quote {:key :!Eopen_bracket}
      :close_double_quote {:key :!SEopen_bracket}
      :open_single_quote {:key :!Eclose_bracket}
      :close_single_quote {:key :!SEclose_bracket}
      :tilde {:key :!Sgrave_accent_and_tilde}
      :en_dash {:key :!Ehyphen}
      :em_dash {:key :!SEhyphen}

      ;; diacritics
      ;; note that many of the mappings below require ABC - Extended as the macOS input source
      :overdot {:key :!Ew}
      :underdot {:key :!Ex}
      :accute_accent {:key :!Ee}
      :double_acute_accent {:key :!Ej}
      :grave_accent {:key :!Egrave_accent_and_tilde}
      :umlaut {:key :!Eu}
      :undercomma {:key :!Ep}
      :underbar {:key :!Eh}
      :macron {:key :!Ea}
      :breve {:key :!Eb}
      :hook {:key :!Ez}
      :horn {:key :!Ei}
      :circumflex {:key :!E6}
      :cedilla {:key :!Ec}
      :overring {:key :!Ek}
      :stroke {:key :!El}
      :caron {:key :!Ev}
      :ogonek {:key :!Em}
      :tilde_accent {:key :!En}

      ;; “special” chars
      :ø {:key :!Eo}
      :œ {:key :!Eq}
      :ß {:key :!Es}
      :ð {:key :!Ed}
      :þ {:key :!Et}
      :¡ {:key :!E1}
      :¿ {:key :!ESslash}
      :« {:key :!Ebackslash}
      :» {:key :!SEbackslash}
      :• {:key :!O8}
      :£ {:key :!E3}
      :€ {:key :!ES2}
      :… {:key :!Esemicolon}

      ;; math
      := {:key :equal_sign}
      :+ {:key :!Sequal_sign}
      :≠ {:key :!Eequal_sign}
      :÷ {:key :!Eslash}
      :± {:key :!ESequal_sign}
      :≤ {:key :!Ecomma}
      :≥ {:key :!Eperiod}
      }

:modifiers {
            ;; macOS
            :⇧ [:left_shift]
            :⌘ [:left_command]
            :⌥ [:left_option]
            :⌃ [:left_control]
            :⇧⌘ [:left_shift :left_command]
            :⇧⌥ [:left_shift :left_option]
            :⇧⌃ [:left_shift :left_control]
            :⌘⌥ [:left_command :left_option]
            :⌘⌃ [:left_command :left_control]
            :⌥⌃ [:left_option :left_control]
            :⇧⌘⌥ [:left_shift :left_command :left_option]
            :⇧⌘⌃ [:left_shift :left_command :left_control]
            :⇧⌥⌃ [:left_shift :left_option :left_control]
            :⌘⌥⌃ [:left_command :left_option :left_control]
            :⇧⌘⌥⌃ [:left_shift :left_command :left_option :left_control]

            ;; Emacs
            :S- [:left_shift]
            :A- [:right_command]
            :C- [:left_control]
            :H- [:left_command]
            :M- [:left_option]
            :s- [:right_control]
            :A-C- [:right_command :left_control]
            :A-H- [:right_command :left_command]
            :A-M- [:right_command :left_option]
            :A-s- [:right_command :right_control]
            :C-H- [:left_control :left_command]
            :C-M- [:left_control :left_option]
            :C-s- [:left_control :right_control]
            :H-M- [:left_command :left_option]
            :H-s- [:left_command :right_control]
            :M-s- [:left_option :right_control]
            :A-C-H- [:right_command :left_control :left_command]
            :A-C-M- [:right_command :left_control :left_option]
            :A-C-s- [:right_command :left_control :right_control]
            :A-H-M- [:right_command :left_command :left_option]
            :A-H-s- [:right_command :left_command :right_control]
            :A-M-s- [:right_command :left_option :right_control]
            :C-H-M- [:left_control :left_command :left_option]
            :C-H-s- [:left_control :left_command :right_control]
            :C-M-s- [:left_control :left_option :right_control]
            :H-M-s- [:left_command :left_option :right_control]
            :A-C-H-M- [:right_command :left_control :left_command :left_option]
            :A-C-H-s- [:right_command :left_control :left_command :right_control]
            :A-C-M-s- [:right_control :left_control :right_command :left_option]
            :A-H-M-s- [:right_command :left_command :left_option :right_control]
            :C-H-M-s- [:left_control :left_command :left_option :right_control]
            :A-C-H-M-s- [:left_control :left_command :left_option :right_control :right_command]
            }

:applications {
               :anki ["net.ankiweb.dtop"]
               :chrome ["com.google.Chrome"]
               :emacs ["org.gnu.Emacs"]
               :firefox ["org.mozilla.firefox"]
               :safari ["com.apple.Safari"]
               :steam [:paths ".*/Application Support/Steam.*"]
               }

:devices {
         :corne [{:vendor_id 7504}]
         :moonlander [{:vendor_id 12951}]
         }

:layers {
         :k-mode {:key :quote :condi :chrome}
         }

:simlayers {
            :b-mode {:key :b}
            :f-mode {:key :f}
            :j-mode {:key :j}
            :k-mode {:key :k}
            :m-mode {:key :m}
            :p-mode {:key :p}
            :q-mode {:key :q}
            :v-mode {:key :v}
            :x-mode {:key :x :condi :emacs}
            :y-mode {:key :y}
            :z-mode {:key :z}
            :comma-mode {:key :comma :condi :emacs}
            :period-mode {:key :period}
            :semicolon-mode {:key :semicolon}
            :slash-mode {:key :slash}
            }

:templates {:alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
            :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
            :open "open \"%s\""
            :insert "~/Library/CloudStorage/Dropbox/dotfiles/bin/char_input \"%s\""
            }

:main [

{:des "Disable caps_lock"
 :rules [
         [:caps_lock :vk_none]
         ]}

{:des "Emacs: left_control → C-g (alone) M- (held)"
 :rules [
         [:!Ch {:modi :A-H-M-s- :key :h} :emacs] ; circumvent macOS ⌘h
         [:!CQh {:modi :A-C-H-s- :key :h} :emacs] ; circumvent macOS ⌘⌥h
         [:##left_control :M- [:!steam :emacs] {:alone {:modi :C- :key :g}}]
         ]}

{:des "Outside Emacs: left_control → escape (alone) | ⌥ (held)"
 :rules [
         [:##left_control :⌥ [:!steam :!emacs] {:alone :escape}]
         ]}

{:des "Emacs: left_option → toggle tabs/windows (alone) | S- (held)"
 :rules [
         [:##left_option :S- :emacs {:alone :return_or_enter}]
         ]}

{:des "Outside Emacs: left_option → toggle tabs/windows (alone) | ⇧ (held)"
 :rules [
         [:##left_option :⇧ :!emacs {:alone :return_or_enter}]
         ]}

{:des "left_option + right_command → ⇧ + enter"
 :rules [
         [:!Sright_command {:modi :⇧ :key :return_or_enter}]
         ]}

{:des "left_option + right_command → ⇧ + enter"
 :rules [
         [:!Sright_command {:modi :⇧ :key :return_or_enter}]
         ]}

{:des "Emacs: left_command → other window (alone) | H- (held)"
 :rules [
         [:##left_command :H- :emacs {:alone {:modi :C-H- :key :0}}]
         ]}

{:des "Outsie Emacs: left_command → other tab (alone) | ⌘ (held)"
 :rules [
         [:##left_command :⌘ :!emacs {:alone {:modi :⌘⌃ :key :0}}]
         ]}

{:des "Emacs: spacebar → C- (held) | ⌘tab (alone)"
 :rules [
         [:!Cspacebar {:modi :A-H-M-s- :key :spacebar} :emacs] ; files-extras-switch-to-alternate-buffer
         [:##spacebar :C- :emacs {:alone {:modi :⌘ :key :tab}}]
         ]}

{:des "Outside Emacs: spacebar → ⌃ (held) | ⌘tab (alone)"
 :rules [
         [:!Cspacebar {:modi :⌘ :key :grave_accent_and_tilde} :!emacs] ; move focus to next window
         [:##spacebar :⌃ :!emacs {:alone {:modi :⌘ :key :tab}}]
         ]}

{:des "Emacs: right_command + left_command → A-H- (held) "
:rules [
        [[:right_command :left_command] :A-H- :emacs {:alone {:modi :A- :key :spacebar}}]
        ]}

{:des "Emacs: right_command + left_shift → A-"
:rules [
        [[:right_command :left_option] :A- :emacs]
        ]}

{:des "Emacs: right_command + spacebar → A-C-"
:rules [
        [[:right_command :spacebar] :A-C- :emacs]
        ]}

{:des "Emacs: right_command + left_control → A-M-"
:rules [
        [[:right_command :left_control] :A-M- :emacs]
        ]}

{:des "Emacs: right_command + right_option → A-s-"
:rules [
        [[:right_command :right_option] :A-s- :emacs]
        ]}

{:des "Emacs: right_command → spacebar"
 :rules [
         [:##right_command :spacebar :emacs]
         ]}

{:des "Outside Emacs: right_command → spacebar"
 :rules [
         [:##right_command :spacebar :!emacs]
         ]}

{:des "Emacs: right_option → other window (alone) | s- (held)"
 :rules [
         [:##right_option :s- :emacs {:alone :tab}]
         ]}

{:des "outside Emacs: right_option → other window (alone) | ⌥ (held)"
 :rules [
         [:##right_option :⌥ :!emacs {:alone :tab}]
         ]}

{:des "left_shift + side mouse buttons → navigate open tabs"
 :rules [
         [{:pkey :button4 :modi :left_shift} :!COleft_arrow]
         [{:pkey :button5 :modi :left_shift} :!COright_arrow]
         ]}

{:des "b-mode (media controls, window sizing)"
 :rules [:b-mode
         [:u {:modi :C-H- :key :u} :emacs] ; frame-extras-left-half
         [:u {:modi :⇧⌘⌥⌃ :key :u}] ; Rectangle, left half
         [:p {:modi :C-H- :key :p} :emacs] ; frame-extras-right-half
         [:p {:modi :⇧⌘⌥⌃ :key :p}] ; Rectangle, right half
         [:i {:modi :C-H- :key :i} :emacs] ; frame-extras-maximize-frame
         [:i {:modi :⇧⌘⌥⌃ :key :i}] ; Rectangle, maximize
         [:o {:modi :⇧⌘⌥⌃ :key :o}] ; Rectangle, center
         [:j :rewind]
         [:x {:modi :⇧⌘⌃ :key :3}] ; Copy picture of screen to the clipboard
         [:k :play_or_pause]
         [:semicolon :fast_forward]
         [:comma :volume_increment]
         [:period :volume_decrement]
         [:m :mute]
         [:c {:modi :C-M-s- :key :c} :emacs] ; connect to bluetooth device
         [:g {:modi :C-M-s- :key :g} :emacs] ; toggle langs
         [:h {:modi :⇧⌘⌥⌃ :key :0}] ; dictation
         [:n {:modi :⇧⌘⌥⌃ :key :1}] ; narration (Settings > Accessibility > Spoken content > Speak selection)
         ]}

{:des "f-mode (special chars)"
 :rules [:f-mode
         [:d :ð]
         [:e :…]
         [:i :¡]
         [:o :ø]
         [:p :£]
         [:q :œ]
         [:r :€]
         [:s :ß]
         [:t :þ]
         [:u :•]
         [:slash :¿]
         [:comma :«]
         [:period :»]
         ]
 }

{:des "j-mode (deletion)"
 :rules [:j-mode
         [:a {:modi :C-H-M- :key :a} :emacs]
         [:!Wa {:modi :C-H-M-s- :key :a} :emacs]
         [:!WQa {:modi :A-C-H-M-s- :key :a} :emacs]
         [:s {:modi :C-H-M- :key :s} :emacs]
         [:s :delete_or_backspace :!emacs]
         [:d {:modi :C-H-M- :key :d} :emacs]
         [:d :delete_forward :!emacs]
         [:f {:modi :C-H-M- :key :f} :emacs]
         [:!Wf {:modi :C-H-M-s- :key :f} :emacs]
         [:!WQf {:modi :A-C-H-M-s- :key :f} :emacs]
         [:q {:modi :C-H-M- :key :q} :emacs]
         [:!Wq {:modi :C-H-M-s- :key :q} :emacs]
         [:!WQq {:modi :A-C-H-M-s- :key :q} :emacs]
         [:q {:modi :⌥ :key :delete_or_backspace} :!emacs]
         [:w {:modi :C-H-M- :key :w} :emacs]
         [:!Ww {:modi :C-H-M-s- :key :w} :emacs]
         [:!WQw {:modi :A-C-H-M-s- :key :w} :emacs]
         [:w {:modi :⌘ :key :delete_or_backspace} :!emacs]
         [:e {:modi :C-H-M- :key :e} :emacs]
         [:!We {:modi :C-H-M-s- :key :e} :emacs]
         [:!WQe {:modi :A-C-H-M-s- :key :e} :emacs]
         [:e {:modi :⌃ :key :k} :!emacs]
         [:r {:modi :C-H-M- :key :r} :emacs]
         [:!Wr {:modi :C-H-M-s- :key :r} :emacs]
         [:!WQr {:modi :A-C-H-M-s- :key :r} :emacs]
         [:r {:modi :⌥ :key :delete_forward} :!emacs]
         [:z {:modi :C-H-M- :key :z} :emacs]
         [:!Wz {:modi :C-H-M-s- :key :z} :emacs]
         [:!WQz {:modi :A-C-H-M-s- :key :z} :emacs]
         [:z {:modi :⌘ :key :delete_or_backspace} :!emacs]
         [:x {:modi :C-H-M- :key :x} :emacs]
         [:!Wx {:modi :C-H-M-s- :key :x} :emacs]
         [:!WQx {:modi :A-C-H-M-s- :key :x} :emacs]
         [:x {:modi :⌘⌥ :key :left_arrow} :!emacs]
         [:c {:modi :C-H-M- :key :c} :emacs]
         [:!Wc {:modi :C-H-M-s- :key :c} :emacs]
         [:!WQc {:modi :A-C-H-M-s- :key :c} :emacs]
         [:c {:modi :⌘⌥ :key :right_arrow} :!emacs]
         [:v {:modi :C-H-M- :key :v} :emacs]
         [:!Wv {:modi :C-H-M-s- :key :v} :emacs]
         [:!WQv {:modi :A-C-H-M-s- :key :v} :emacs]
         [:v {:modi :⌘ :key :delete_forward} :!emacs]
         [:b {:modi :C-H-M- :key :b} :emacs]
         [:t {:modi :C-H-M- :key :t} :emacs]
         [:t :home :!emacs]
         [:g {:modi :C-H-M- :key :g} :emacs]
         [:g :end :!emacs]
         [:!Wd {:modi :C-H-M-s- :key :d} :emacs]
         [:!Ws {:modi :C-H-M-s- :key :s} :emacs]
         ]}

{:des "k-mode (website-specific)"
 :rules [:k-mode
         [:a [:km "Local website a"]]
         [:b [:km "Local website b"]]
         [:c [:km "Local website c"]]
         [:d [:km "Local website d"]]
         [:e [:km "Local website e"]]
         [:f [:km "Local website f"]]
         [:g [:km "Local website g"]]
         [:h [:km "Local website h"]]
         [:i [:km "Local website i"]]
         [:j [:km "Local website j"]]
         [:l [:km "Local website l"]]
         [:!Sl [:km "Local website Sl"]]
         [:!Cl [:km "Local website Cl"]]
         [:!CSl [:km "Local website CSl"]]
         [:m [:km "Local website m"]]
         [:n [:km "Local website n"]]
         [:o [:km "Local website o"]]
         [:p [:km "Local website p"]]
         [:r [:km "Local website r"]]
         [:s [:km "Local website s"]]
         [:t [:km "Local website t"]]
         [:u [:km "Local website u"]]
         [:y [:km "Local website y"]]
         [:z [:km "Local website z"]]
         [:x [:km "Local website x"]]
         [:v [:km "Local website v"]]
         [:w [:km "Local website w"]]
         [:semicolon [:km "Local website semicolon"]]
         [:comma [:km "Local website comma"]]
         [:period [:km "Local website period"]]
         [:slash [:km "Local website slash"]]
         [:return_or_enter [:km "Local website return_or_enter"]]
         ;; [:spacebar [:km "Local website spacebar"]]
         ]}

{:des "m-mode (math symbols)"
 :rules [:m-mode
         [:e :=]
         [:p :+]
         [:q :≠]
         [:d :÷]
         [:o :±]
         [:x [:insert "×"]]
         [:comma :≤]
         [:period :≥]
         ]}

{:des "p-mode (diacritics)"
 :rules [:p-mode
         [:a :macron]
         [:b :breve]
         [:c :cedilla]
         [:e :accute_accent]
         [:g :undercomma]
         [:h :underbar]
         [:i :horn]
         [:j :double_acute_accent]
         [:k :overring]
         [:l :stroke]
         [:m :ogonek]
         [:n :tilde_accent]
         [:r :grave_accent]
         [:u :umlaut]
         [:v :caron]
         [:w :underdot]
         [:x :overdot]
         [:y :circumflex]
         [:z :hook]
         ]
 }

{:des "q-mode (apps)"
 :rules [:q-mode
         [:b [:open "/Applications/qBitTorrent.app"]]
         [:d [:open "/System/Library/CoreServices/Finder.app"]]
         [:e [:km "Activate: Emacs (e)"]]
         [:f [:open "/Applications/Firefox.app"]]
         [:g [:open "/Applications/Goldendict.app"]]
         [:h [:open "/Applications/Google Chrome.app"]]
         [:i [:open "/Applications/Anki.app"]]
         [:j [:km "open: System Preferences"]]
         [:k [:open "/Applications/Keyboard Maestro.app"]]
         [:l [:open "/Applications/DeepL.app"]]
         [:m [:open "/Applications/Media Center 29.app"]]
         [:o [:open "/Applications/zoom.us.app"]]
         [:p [:open "/Applications/Beeper.app"]]
         [:r [:open "/Applications/Karabiner-Elements.app"]]
         [:s [:open "/Applications/Slack.app"]]
         [:t [:open "/System/Applications/Utilities/Terminal.app"]]
         [:u [:open "/Applications/Revolut.app"]]
         [:v [:open "/Applications/mpv.app"]]
         [:w [:open "/Applications/HoudahSpot.app"]]
         [:y [:open "/Applications/Spotify.app"]]
         [:comma [:open "/Applications/Plex Media Server.app/"]]
         [:period [:open "/Applications/Tor Browser.app"]]
         ]}

{:des "v-mode (numbers)"
 :rules [:v-mode
         [:i :8]
         [:##i :##8]
         [:j :4]
         [:##j :4]
         [:k :5]
         [:##k :5]
         [:l :6]
         [:##l :6]
         [:m :1]
         [:##m :1]
         [:o :9]
         [:##o :9]
         [:u :7]
         [:##u :7]
         [:comma :2]
         [:##comma :2]
         [:period :3]
         [:##period :3]
         [:p :0]
         [:##p :0]
         [:semicolon :period]
         [:##semicolon :period]
         ]
 }

{:des "x-mode (avy)"
 :rules [:x-mode
         [:a [{:modi :C-H-s- :key :a}]]
         [:b [{:modi :C-H-s- :key :b}]]
         [:c [{:modi :C-H-s- :key :c}]]
         [:d [{:modi :C-H-s- :key :d}]]
         [:e [{:modi :C-H-s- :key :e}]]
         [:f [{:modi :C-H-s- :key :f}]]
         [:g [{:modi :C-H-s- :key :g}]]
         [:h [{:modi :C-H-s- :key :h}]]
         [:i [{:modi :C-H-s- :key :i}]]
         [:j [{:modi :C-H-s- :key :j}]]
         [:k [{:modi :C-H-s- :key :k}]]
         [:l [{:modi :C-H-s- :key :l}]]
         [:m [{:modi :C-H-s- :key :m}]]
         [:n [{:modi :C-H-s- :key :n}]]
         [:o [{:modi :C-H-s- :key :o}]]
         [:p [{:modi :C-H-s- :key :p}]]
         [:q [{:modi :C-H-s- :key :q}]]
         [:r [{:modi :C-H-s- :key :r}]]
         [:s [{:modi :C-H-s- :key :s}]]
         [:t [{:modi :C-H-s- :key :t}]]
         [:u [{:modi :C-H-s- :key :u}]]
         [:v [{:modi :C-H-s- :key :v}]]
         [:w [{:modi :C-H-s- :key :w}]]
         [:y [{:modi :C-H-s- :key :y}]]
         [:z [{:modi :C-H-s- :key :z}]]
         [:semicolon [{:modi :C-H-s- :key :semicolon}]]
         [:comma [{:modi :C-H-s- :key :comma}]]
         [:period [{:modi :C-H-s- :key :period}]]
         [:slash [{:modi :C-H-s- :key :slash}]]
         [:spacebar [{:modi :C-H-s- :key :spacebar}]]
         [:return_or_enter [{:modi :C-H-s- :key :return_or_enter}]]
         [:tab [{:modi :C-H-s- :key :tab}]]
         ]}

{:des "y-mode (mouse, screenshots)"
 :rules [:y-mode
         [:b {:modi :⇧⌘ :key :5}] ; Screenshot and recording options
         [:c {:modi :⇧⌘ :key :4}] ; Save picture of selected area to a file
         [:d {:mkey {:y 1500}}]
         [:e {:mkey {:y 4500}}]
         [:a {:mkey {:x -1500}}]
         [:f {:mkey {:x 1500}}]
         [:q {:mkey {:x -4500}}]
         [:r {:mkey {:x 4500}}]
         [:s {:mkey {:y -1500}}]
         [:v {:modi :⇧⌘⌃ :key :4}] ; Copy picture of selected area to the clipboard
         [:w {:mkey {:y -4500}}]
         [:z {:modi :⇧⌘ :key :3}] ; Save picture of screen as a file
         [:right_command :button2]
         [:return_or_enter :button1]
         ]}

{:des "z-mode (navigation)"
 :rules [:z-mode
         [:b {:modi :A-C-s- :key :b} :emacs]
         [:c {:modi :A-C-s- :key :c}]
         [:d {:modi :A-H-M-s- :key :d} :emacs] ; WTQ intercepted by OSX
         [:e {:modi :A-C-s- :key :e} :emacs]
         [:f [{:modi :⌘⌃ :key :n} {:modi :⌘⌃ :key :h}] :chrome] ; Google Docs next heading
         [:f {:modi :A-C-s- :key :f}]
         [:g {:modi :A-C-s- :key :g} :emacs]
         [:h {:modi :A-C-s- :key :h} :emacs]
         [:##h :page_down]
         [:i {:modi :A-C-s- :key :i} :emacs]
         [:##i {:modi :⌥ :key :up_arrow}]
         [:j :left_arrow]
         [:##j :left_arrow]
         [:k :up_arrow]
         [:##k :up_arrow]
         [:l :down_arrow]
         [:##l :down_arrow]
         [:m {:modi :A-C-s- :key :m} :emacs]
         [:##m {:modi :⌘ :key :left_arrow}]
         [:n {:modi :A-C-s- :key :n} :emacs]
         [:o {:modi :A-C-s- :key :o} :emacs]
         [:##o {:modi :⌥ :key :down_arrow}]
         [:p {:modi :A-C-s- :key :p} :emacs]
         [:##p {:modi :⌥ :key :right_arrow}]
         [:r [{:modi :⌘⌃ :key :p} {:modi :⌘⌃ :key :h}] :chrome] ; Google Docs previous heading
         [:r {:modi :A-C-s- :key :r} :emacs]
         [:s {:modi :A-C-s- :key :s} :emacs]
         [:t {:modi :A-C-s- :key :t} :emacs]
         [:u {:modi :A-C-s- :key :u} :emacs]
         [:##u {:modi :⌥ :key :left_arrow}]
         [:v {:modi :A-C-s- :key :v} :emacs]
         [:w {:modi :A-C-s- :key :w} :emacs]
         [:x {:modi :A-C-s- :key :x}]
         [:y {:modi :A-C-s- :key :y} :emacs]
         [:##y :page_up]
         [:##return_or_enter :home]
         [:comma {:modi :A-C-s- :key :comma} :emacs]
         [:##comma {:modi :⌘ :key :up_arrow}]
         [:period {:modi :A-C-s- :key :period} :emacs]
         [:##period {:modi :⌘ :key :down_arrow}]
         [:right_command {:modi :A-C-s- :key :tab} :emacs]
         [:##right_command :end]
         [:semicolon :right_arrow]
         [:##semicolon :right_arrow]
         [:slash {:modi :A-C-s- :key :slash} :emacs]
         [:##slash {:modi :⌘ :key :right_arrow}]
         [:spacebar {:modi :A-C-s- :key :spacebar} :emacs]
         [:##spacebar :home]
         [:tab {:modi :A-C-s- :key :tab} :emacs]
         [:##tab :home]
         ]}

{:des "comma-mode (transposition)"
 :rules [:comma-mode
         [:a {:modi :A-H-M- :key :a}]
         [:b {:modi :A-H-M- :key :b}]
         [:c {:modi :A-H-M- :key :c}]
         [:d {:modi :A-H-M- :key :d}]
         [:e {:modi :A-H-M- :key :e}]
         [:f {:modi :A-H-M- :key :f}]
         [:g {:modi :A-H-M- :key :g}]
         [:h {:modi :A-H-M- :key :h}]
         [:i {:modi :A-H-M- :key :i}]
         [:j {:modi :A-H-M- :key :j}]
         [:l {:modi :A-H-M- :key :l}]
         [:n {:modi :A-H-M- :key :n}]
         [:o {:modi :A-H-M- :key :o}]
         [:p {:modi :A-H-M- :key :p}]
         [:q {:modi :A-H-M- :key :q}]
         [:r {:modi :A-H-M- :key :r}]
         [:s {:modi :A-H-M- :key :s}]
         [:t {:modi :A-H-M- :key :t}]
         [:u {:modi :A-H-M- :key :u}]
         [:v {:modi :A-H-M- :key :v}]
         [:w {:modi :A-H-M- :key :w}]
         [:x {:modi :A-H-M- :key :x}]
         [:y {:modi :A-H-M- :key :y}]
         [:z {:modi :A-H-M- :key :z}]
         [:semicolon {:modi :A-H-M- :key :semicolon}]
         [:period {:modi :A-H-M- :key :period}]
         [:slash {:modi :A-H-M- :key :slash}]
         [:spacebar {:modi :A-H-M- :key :spacebar}]
         [:return_or_enter {:modi :A-H-M- :key :return_or_enter}]
         [:tab {:modi :A-H-M- :key :tab}]
         ]}

{:des "period-mode (manipulation)"
 :rules [:period-mode
         [:a {:modi :A-C-H- :key :a}]
         [:b {:modi :A-C-H- :key :b}]
         [:c {:modi :A-C-H- :key :c}]
         [:d {:modi :A-C-H- :key :d}]
         [:e {:modi :A-C-H- :key :e}]
         [:f {:modi :A-C-H- :key :f}]
         [:g {:modi :A-C-H- :key :g}]
         [:h {:modi :A-C-H- :key :h}]
         [:i {:modi :A-C-H- :key :i}]
         [:j {:modi :A-C-H- :key :j}]
         [:k {:modi :A-C-H- :key :k}]
         [:l {:modi :A-C-H- :key :l}]
         [:m {:modi :A-C-H- :key :m}]
         [:n {:modi :A-C-H- :key :n}]
         [:o {:modi :A-C-H- :key :o}]
         [:p {:modi :A-C-H- :key :p}]
         [:q {:modi :A-H-M-s- :key :9}] ; QCOq triggers ⌘⌃Q (lock screen)
         [:r {:modi :A-C-H- :key :r}]
         [:s {:modi :A-C-H- :key :s}]
         [:t {:modi :A-C-H- :key :t}]
         [:u {:modi :A-C-H- :key :u}]
         [:v {:modi :A-C-H- :key :v}]
         [:w {:modi :A-C-H- :key :w}]
         [:x {:modi :A-C-H- :key :x}]
         [:y {:modi :A-C-H- :key :y}]
         [:z {:modi :A-C-H- :key :z}]
         [:semicolon {:modi :A-C-H- :key :semicolon}]
         [:comma {:modi :A-C-H- :key :comma}]
         [:slash {:modi :A-C-H- :key :slash}]
         [:spacebar {:modi :A-C-H- :key :spacebar}]
         [:return_or_enter {:modi :A-C-H- :key :return_or_enter}]
         ]}

{:des "semicolon (symbols)"
 :rules [:semicolon-mode
         [:##a :percent_sign]
         [:##b :grave_accent_and_tilde]
         [:##c :open_bracket]
         [:##d :close_parenthesis]
         [:##e :number_sign]
         [:##f :asterisk]
         [:##g :caret]
         [:##h :ampersand]
         [:##i :open_single_quote]
         [:##j :double_quote]
         [:##k :open_double_quote]
         [:##l :close_double_quote]
         [:##m :hyphen]
         [:##n :tilde]
         [:##o :close_single_quote]
         [:##q :exclamation_mark]
         [:##r :dollar_sign]
         [:##s :open_parenthesis]
         [:##t :backslash]
         [:##u :quote]
         [:##v :close_bracket]
         [:##w :at_sign]
         [:##x :close_brace]
         [:##y :vertical_bar]
         [:##z :open_brace]
         [:##comma :en_dash]
         [:##period :em_dash]
         [:##right_command :underscore]
         ]}

{:des "slash simlyaer → org-mode (Emacs) | app-specific macros (outside Emacs)"
 :rules [:slash-mode
         [:a {:modi :C-H-M-s- :key :a} :emacs]
         [:b {:modi :C-H-M-s- :key :b} :emacs]
         [:c {:modi :C-H-M-s- :key :c} :emacs]
         [:d {:modi :C-H-M-s- :key :d} :emacs]
         [:e {:modi :C-H-M-s- :key :e} :emacs]
         [:f {:modi :C-H-M-s- :key :f} :emacs]
         [:g {:modi :C-H-M-s- :key :g} :emacs]
         [:h {:modi :C-H-M-s- :key :h} :emacs]
         [:i {:modi :C-H-M-s- :key :i} :emacs]
         [:j {:modi :C-H-M-s- :key :j} :emacs]
         [:m {:modi :C-H-M-s- :key :m} :emacs]
         [:n {:modi :C-H-M-s- :key :n} :emacs]
         [:o {:modi :C-H-M-s- :key :o} :emacs]
         [:p {:modi :C-H-M-s- :key :p} :emacs]
         [:q {:modi :C-H-M-s- :key :q} :emacs]
         [:r {:modi :C-H-M-s- :key :r} :emacs]
         [:s {:modi :C-H-M-s- :key :s} :emacs]
         [:t {:modi :C-H-M-s- :key :t} :emacs]
         [:u {:modi :C-H-M-s- :key :u} :emacs]
         [:v {:modi :C-H-M-s- :key :v} :emacs]
         [:w {:modi :C-H-M-s- :key :w} :emacs]
         [:z {:modi :C-H-M-s- :key :z} :emacs]
         [:x {:modi :C-H-M-s- :key :x} :emacs]
         [:y {:modi :C-H-M-s- :key :y} :emacs]
         [:period {:modi :C-H-M-s- :key :period} :emacs]
         [:a [:km "Local app a"] :!emacs]
         [:b [:km "Local app b"] :!emacs]
         [:c [:km "Local app c"] :!emacs]
         [:d [:km "Local app d"] :!emacs]
         [:e [:km "Local app e"] :!emacs]
         [:f [:km "Local app f"] :!emacs]
         [:g [:km "Local app g"] :!emacs]
         [:h [:km "Local app h"] :!emacs]
         [:i [:km "Local app i"] :!emacs]
         [:j [:km "Local app j"] :!emacs]
         [:k [:km "Local app k"] :!emacs]
         [:l [:km "Local app l"] :!emacs]
         [:m [:km "Local app m"] :!emacs]
         [:n [:km "Local app n"] :!emacs]
         [:o [:km "Local app o"] :!emacs]
         [:p [:km "Local app p"] :!emacs]
         [:q [:km "Local app q"] :!emacs]
         [:r [:km "Local app r"] :!emacs]
         [:s [:km "Local app s"] :!emacs]
         [:t [:km "Local app t"] :!emacs]
         [:u [:km "Local app u"] :!emacs]
         [:v [:km "Local app v"] :!emacs]
         [:w [:km "Local app w"] :!emacs]
         [:x [:km "Local app x"] :!emacs]
         [:y [:km "Local app y"] :!emacs]
         [:z [:km "Local app z"] :!emacs]
         [:0 [:km "Local app 0"] :!emacs]
         [:1 [:km "Local app 1"] :!emacs]
         [:2 [:km "Local app 2"] :!emacs]
         [:3 [:km "Local app 3"] :!emacs]
         [:4 [:km "Local app 4"] :!emacs]
         [:5 [:km "Local app 5"] :!emacs]
         [:6 [:km "Local app 6"] :!emacs]
         [:7 [:km "Local app 7"] :!emacs]
         [:8 [:km "Local app 8"] :!emacs]
         [:9 [:km "Local app 9"] :!emacs]
         [:semicolon [:km "Local app semicolon"] :!emacs]
         [:comma [:km "Local app comma"] :!emacs]
         [:period [:km "Local app period"] :!emacs]
         [:return_or_enter [:km "Local app return_or_enter"] :!emacs]
         [:spacebar [:km "Local app spacebar"] :!emacs]
         ]}

]}
